name: "Cloud Buildpack Build"

on:
  push:
    branches:
      - main
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Push Img
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
      - name: echo path
        run: echo .art/art.yaml
      - name: Fetch repo
        uses: actions/checkout@v2
      - name: Get Short SHA
        id: get_sha
        run: echo ::set-output name=SHA_SHORT::$(git rev-parse --short HEAD)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Registry
        id: login_registry
        run: echo "${{ secrets.ARG_nick_ACCESS_TOKEN }}" | sudo docker login ghcr.io --username argonautdev --password-stdin
      - name: Buildpack Install, Build and Push
        id: buildpack
        run: |2
          sudo add-apt-repository ppa:cncf-buildpacks/pack-cli
          sudo apt-get update
          sudo apt-get install pack-cli
          sudo pack build ghcr.io/argonautdev/asn:${{ steps.get_sha.outputs.SHA_SHORT }} --path ./ --builder heroku/buildpacks:18
          sudo docker push ghcr.io/argonautdev/asn:${{ steps.get_sha.outputs.SHA_SHORT }}
  deploy:
    runs-on: ubuntu-latest
    name: Deploy to Argonaut
    needs: build
    steps:
      - name: Fetch repo
        uses: actions/checkout@v2
      - name: Get Short SHA
        id: get_sha
        run: echo ::set-output name=SHA_SHORT::$(git rev-parse --short HEAD)
      - name: Download art
        run: curl --silent https://github.com/argonautdev/public/releases/latest/download/art -L -o art
      - name: Configure art
        run: |
          chmod +x ./art
          sudo mv ./art /usr/local/bin/art
          sudo art configure --key ${{ secrets.ART_KEY }} --secret ${{ secrets.ART_SECRET }}
          sudo art app deploy -f .art/art.yaml --set image="ghcr.io/argonautdev/asn" --set imageTag="${{ steps.get_sha.outputs.SHA_SHORT }}"  --set appName=asn  --set argonaut.env="nick"  --set argonaut.region="us-east-1"  --set argonaut.cluster="tron"  --set argonaut.serviceType="stateless"  --set argonaut.imageRegistry="nick" 
